<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <div id='app'>
    <ul>
      <li v-for="(fruit, index) in fruits">({{index}}){{fruit}}</li>
    </ul>
    <ul>
      <template v-for="fruit in fruits">
        <li>{{fruit}}</li>
        <hr>
      </template>
      <!-- v-forを複数に適応させたい時はtemplateタグを上手く使う -->
    </ul>
    <ul>
      <li v-for="n in 10">{{n}}</li>
      <!-- v-forは指定した整数値を順番に繰り返すこともできる -->
    </ul>
  </div>
  <script>
    new Vue ({
      el: '#app',
      data: {
        fruits: ['りんご', 'バナナ', 'ぶどう']
      }
    })
  </script>
</body>
</html>